<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tylereich.wolframalpha</string>
	<key>connections</key>
	<dict>
		<key>21B61E6A-E0CD-4C47-929C-968E174CA9A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF036B8E-4B12-44D9-9D01-93A2A5A86EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86B41090-C524-499B-8881-98E51D84C77B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy response to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5F56D77A-AACD-4807-9243-8C363B0F7954</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in default browser</string>
			</dict>
		</array>
		<key>4494DEEB-C711-4F96-9765-B14F9B78E482</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C93A4176-60A5-4DA6-8946-C0BAAF8DD1F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3503EAF4-FAFC-43B0-BE5A-90585FF0052C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Get Wolfram|Alpha AppID in default browser</string>
			</dict>
		</array>
		<key>7EC2F110-E059-47ED-8149-0C84D763F9BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B61E6A-E0CD-4C47-929C-968E174CA9A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>86B41090-C524-499B-8881-98E51D84C77B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5212DE91-4524-40C9-B05A-EDDF32B6CA10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5E3D91D-B6DD-4D79-B236-D7B5FFDCED48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B10F7555-8EFD-4A05-96B7-983DE39659F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F56D77A-AACD-4807-9243-8C363B0F7954</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C93A4176-60A5-4DA6-8946-C0BAAF8DD1F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08AFB74A-D0A7-41C4-BD59-F0FE39277F53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF036B8E-4B12-44D9-9D01-93A2A5A86EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A81FA55E-6550-4343-B955-0DA126AADBFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>A Wolfram|Alpha search workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wolfram|Alpha</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Wolfram|Alpha Output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A81FA55E-6550-4343-B955-0DA126AADBFB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>w</string>
				<key>runningsubtext</key>
				<string>Querying Wolfram|Alpha's database…</string>
				<key>script</key>
				<string>php -f wolfram.php -- '{query}'</string>
				<key>subtext</key>
				<string>Get instant results from Wolfram|Alpha</string>
				<key>title</key>
				<string>Wolfram|Alpha</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21B61E6A-E0CD-4C47-929C-968E174CA9A1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>php -f growl.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF036B8E-4B12-44D9-9D01-93A2A5A86EB7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7EC2F110-E059-47ED-8149-0C84D763F9BE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php -f clipboard.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86B41090-C524-499B-8881-98E51D84C77B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5212DE91-4524-40C9-B05A-EDDF32B6CA10</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>'{query}'</string>
				<key>title</key>
				<string>Wolfram|Alpha Output Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B5E3D91D-B6DD-4D79-B236-D7B5FFDCED48</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search Wolfram|Alpha for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>B10F7555-8EFD-4A05-96B7-983DE39659F3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://www.wolframalpha.com/input/?i={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5F56D77A-AACD-4807-9243-8C363B0F7954</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Saved as '{query}'</string>
				<key>title</key>
				<string>Wolfram|Alpha AppID Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>08AFB74A-D0A7-41C4-BD59-F0FE39277F53</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>appid</string>
				<key>runningsubtext</key>
				<string>Validating the provided AppID...</string>
				<key>script</key>
				<string>php -f appid.php -- '{query}'</string>
				<key>subtext</key>
				<string>You must provide an AppID before you can use Wolfram|Alpha</string>
				<key>title</key>
				<string>Set your Wolfram|Alpha AppID</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4494DEEB-C711-4F96-9765-B14F9B78E482</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>php -f setappid.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C93A4176-60A5-4DA6-8946-C0BAAF8DD1F5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://products.wolframalpha.com/api/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3503EAF4-FAFC-43B0-BE5A-90585FF0052C</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08AFB74A-D0A7-41C4-BD59-F0FE39277F53</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>21B61E6A-E0CD-4C47-929C-968E174CA9A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3503EAF4-FAFC-43B0-BE5A-90585FF0052C</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>4494DEEB-C711-4F96-9765-B14F9B78E482</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>5212DE91-4524-40C9-B05A-EDDF32B6CA10</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5F56D77A-AACD-4807-9243-8C363B0F7954</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7EC2F110-E059-47ED-8149-0C84D763F9BE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>86B41090-C524-499B-8881-98E51D84C77B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A81FA55E-6550-4343-B955-0DA126AADBFB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B10F7555-8EFD-4A05-96B7-983DE39659F3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B5E3D91D-B6DD-4D79-B236-D7B5FFDCED48</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C93A4176-60A5-4DA6-8946-C0BAAF8DD1F5</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>FF036B8E-4B12-44D9-9D01-93A2A5A86EB7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
